@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

body{
	font-family: 'Roboto', 'Verdana', sans-serif;
}
h1{
	text-align: center;
	background-color: #0066FF;
	color: white;
	padding: 20px 0 20px 0;
}
input{
	display: block;
	margin-bottom: 5px;
	padding-right: 200px;
}
form{
	width: 350px;
	margin: auto;
	margin-bottom: 25px;
}
ul{
	width: 150px;
	margin: auto;
}
li{
	margin-bottom: 5px;
	list-style-type: none;
	margin-left: -35px;
}
button {
	font-family: 'Roboto', sans-serif;
	outline: none;
	margin-bottom: 5px;
	padding: 5px;
	border-radius: 3px;
	background: red;
	text-transform: capitalize;
	font-weight: 700;
}
.remove{
	margin-left: -35px;
}
.reset{
	background: orange;
}
.red {
	color: red;
}
.light-red{
	color: #FF4500;
}
.orange {
	color: orange;
}
.light-green{
	color: #99FF66;
}
.green {
	color: green;
}
